body{
    border-style: solid;
    /* background-color: grey; */
    
    }
    
    main{
        background-color: khaki;
        width:  960px;
        height: 700px;
        margin-right: auto;
        margin-left:auto;
        position: relative;
    }
    
    @media (max-width:480px){
        main{
            background-color: deeppink;
            width:  480px;
            margin-right: auto;
            margin-left:auto;
            position: relative;
      
        }
    }