
    .a {
        /* border-style: solid; */
        /* color: blue; */
        background-color: green;
        width: 960px;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }
    .b {
        background-color: lawngreen;
        float: left;
        width: 200px;
        height: 600px;
        text-align: center;
        vertical-align: middle;
        line-height: 600px;
    }
    .cd{
        display: inline-block;
        width: 760px;
        height: 200px;
        background-color: lightslategray;
        position: relative;
        text-align: center;
        vertical-align: middle;
        line-height: 200px;
    }
    .c {
        background-color: lightseagreen;
        width: 380px;
        height: 200px;
    
    }
    .d {
        background-color: rgb(3, 95, 91);
        width: 380px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 380px;
    
    }
    .efgh{
        background-color: mediumorchid;
        display: inline-block;
        height: 250px;
        width: 760px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        line-height: 250px;
    }
    .e{
        background-color: orangered;
        height: 250px;
        width: 190px;
        /* position: absolute; */
    }
     .f{
        background-color: rgb(209, 59, 5);
        height: 250px;
        width: 190px;
        position: absolute;
        top: 0;
        left: 190px;
    }
    .g{
        background-color: rgb(144, 41, 4);
        height: 250px;
        width: 190px;
        position: absolute;
        top: 0;
        left: 380px;
    }
    .h{
        background-color: rgb(78, 22, 2);
        height: 250px;
        width: 190px;
        position: absolute;
        top: 0;
        left: 570px;
    }
    .i{
        background-color: darkkhaki;
        height: 150px;
        width: 760px;
        position: absolute;
        left: 200px;
        text-align: center;
        vertical-align: middle;
        line-height: 150px;
    }
    @media (max-width:480px){
        .a {
            /* border-style: solid; */
            /* color: blue; */
            background-color: green;
            opacity: 1;
            width: 480px;
            height: 75px;
            text-align: center;
            vertical-align: middle;
            line-height: 75px;
        }
        .b {
            background-color: lawngreen;
            float: left;
            width: 480px;
            height: 150px;
            text-align: center;
            vertical-align: middle;
            line-height: 150px;
        }
        .cd{
            width: 480px;
            height: 250px;
            background-color: lightslategray;
            position: relative;
            text-align: center;
            vertical-align: middle;
            line-height: 125px;
        }
        .c {
            background-color: lightseagreen;
            width: 480px;
            height: 125px;
        }
        .d {
            background-color: rgb(3, 95, 91);
            width: 480px;
            height: 125px;
            position: absolute;
            top: 125px;
            left: 0;
        }
        .efgh{
            background-color: mediumorchid;
            display: inline-block;
            height: 500px;
            width: 480px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            line-height: 240px;
        }
        .e{
            background-color: orangered;
            height: 250px;
            width: 240px;
            /* position: absolute; */
        }
         .f{
            background-color: rgb(209, 59, 5);
            height: 250px;
            width: 240px;
            position: absolute;
            top: 0;
            left: 240px;
        }
        .g{
            background-color: rgb(144, 41, 4);
            height: 250px;
            width: 240px;
            position: absolute;
            top: 250px;
            left: 0px;
        }
        .h{
            background-color: rgb(78, 22, 2);
            height: 250px;
            width: 240px;
            position: absolute;
            top: 250px;
            left: 240px;
        }
        .i{
            height: 80px;
            width: 480px;
            position: absolute;
            left: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 80px;
        }
        
    }